<div class='span10'>
  <p class='text-error'><strong><%= alert['description'] %></strong></p>
  <p>
    Starting: <%= alert['date'] %> <br />
    Expires: <%= alert['expires'] %>
  </p>
  <p> <%= alert['message'] %> </p>
</div>
